
.prayerimage {
  /*
  i spent an unreasonable 
  amount of time measuring this
  */
  max-width: 30px;
  max-height: 30px;
  padding-left: 3px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  image-rendering: crisp-edges;
}



.clicked {
  background-image: none !important;
  /* TODO: change this to add the clicked background */
}

.prayerList {
  display:grid;
  box-sizing: content-box;
  max-width: 178px;
  max-height: 241px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 13px;
  padding-right: 13px;
  height: 275px;
  width: 204px;
  grid-template-columns: 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px;
  background-image: url(../../public/prayer-background.png);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: contain;
  overflow: hidden;
  column-gap: 7px;
  row-gap: 7px;
}



