.prayerimage {
  /*
  i spent an unreasonable 
  amount of time measuring this
  */
  max-width: 30px;
  max-height: 30px;
  padding-left: 3px;
  padding-right: 4px;
  border-top-width: 2px;
  border-style: solid;
  padding-top: 1px;
  padding-bottom: 1px;
  image-rendering: crisp-edges;
}

.clicked {
  background-image: url(../../public/prayers/Active.png);
  background-repeat: no-repeat;
  background-position: 1px;
  background-size: 34px 34px;
}

.prayerList {
  display: grid;
  box-sizing: content-box;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 13px;
  height: 275px;
  width: 204px;
  grid-template-columns: 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px 30px 30px;
  background-image: url(../../public/prayer-background.png);
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: hidden;
  column-gap: 7px;
  row-gap: 7px;
}
